#container1 {
    margin: 0 auto;
}

#container {
    width: 1200px;
    height: 100px;

    margin: 0 auto;
    /* center karne ke kaam aata horizontally*/
}

.header {
    padding: 10px 0px;
}

h1 a {
    font-size: 50px;
    font-weight: 100;
    text-decoration: none;
    color: 861BBF;
}

#searchBox {
    float: right;
    background-color: rgb(113, 222, 115);
    width: 400px;
    height: 50px;
    padding: 20px 20px 0px 20px;
    margin-top: 16px;

}

#brand {
    float: left;
}

.submit {
    float: right;
    background-color: rgb(206, 51, 206);
    border-color: rgb(206, 51, 206);
    color: white;
    padding: 5px;
    font-weight: bold;
    font-size: 15px;
}

.text {
    float: left;
    padding: 5px;
    width: 200px;
    font-size: 15px;
    color: orange;
    border: 1px solid #C8D03E;
}

.clear {
    clear: both;
}

ul {
    list-style: none;
}

#menu ul li {
    float: left;
    padding: 0px 30px;
    height: 20px;
    border-right: 3px solid #5d12e7;
    line-height: 30px;
}

#menu {
    height: 70px;
    background: yellow;
    width: 1300px;
    padding: 7px 0px;

    margin: 0 auto;
    /* center karne ke kaam aata horizontally*/
}

#menu ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    color: 5d12e7;
    transition: font-weight 0.3s ease;
}

#menu ul li:last-child {
    border-right: none;
}

#menu ul li a:hover,
#menu ul li a.active {
    font-size: 30px;
    font-weight: bold;
    color: #B314DB;
}

#introduction {
    background: linear-gradient(#E5F2BB, #b7E952);
    padding: 30px;
    margin: 10px 0px;
}

#introduction h3 {
    font-size: 45px;
    color: #316901;
}

#introduction p {
    font-size: 20px;
    color: #628F19;
    text-align: justify;

}

.sidebar {
    height: 600px;
    width: 500px;
    border: 1px solid #BAF46F;
    border-radius: 20px;
    padding: 10px 30px;
}

#leftsidebar {
    float: left;
}

#rightsidebar {
    float: right;
}

#rightsidebar ul li {
    padding-bottom: 10px;
    background: url(tick1.png) no-repeat;
    padding-left: 39px;
}

.sidebar h3 {
    font-size: 30px;
    color: #B314DB;
}

.sidebar ul li a {
    text-decoration: none;
    font-size: 30px;
    color: #5d12e7;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
    text-decoration: none;
    color: #B314DB;
    font-size: 40px;
    font-weight: bold;
    transition: font-weight 0.3s ease;
}

.sidebar ul li {
    padding-bottom: 8px;
}

#menu ul li i {
    font-size: 40px;
    /* Adjust the size as needed */
    color: #c92121;
    /* Move the color styling here */
}

.footer {
    height: 80px;
    background: linear-gradient(#F6F390, #D5D553);
    padding: 10px 20px;
    margin: 10px;
}